//
// named.conf
//
// ansible_managed
//

{% for acl in bind_acls %}
acl "{{ acl.name }}" {
{% for match in acl.match_list %}
  {{ match }};
{% endfor %}
};

options {

recursion yes; # enables resursive queries
{% if bind_acls|length != 0 %}
	allow-recursion { {% for acl in bind_acls %}"{{ acl.name }}"; {% endfor %} }; # allows recursive queries from "trusted" clients
{% endif %}
listen-on { ;  {% for ip in bind_allow_query %}"{{ ip }}"; {% endfor %} }; # listen on any network only
allow-transfer { none; }; # disable zone transfers by default

forwarders {
{% for forwarder in bind_forwarders %}
"{{ forwarder }}"; 
{% endfor %}
};

};

zone "{{ bind_zone_name }}" {
 type master;
 file "/etc/named/zones/db.{{ bind_zone_name }}"; # zone file path
};

zone "{{  }}.in-addr.arpa" {
 type master;
 file "/etc/named/zones/db.{{ dns.reverse }}";
};
